--index-url http://mirrors.cloud.tencent.com/pypi/simple

anyio==3.6.1; python_full_version >= "3.6.2" and python_version >= "3.7"
async-generator==1.10; python_version >= "3.7"
attrs==21.4.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
certifi==2022.6.15; python_version >= "3.7"
cffi==1.15.0; os_name == "nt" and implementation_name != "pypy" and python_version >= "3.7"
h11==0.12.0; python_version >= "3.7"
httpcore==0.15.0; python_version >= "3.7"
idna==3.3; python_full_version >= "3.6.2" and python_version >= "3.7"
outcome==1.2.0; python_version >= "3.7"
pycparser==2.21; python_version >= "3.7" and python_full_version < "3.0.0" and os_name == "nt" and implementation_name != "pypy" or os_name == "nt" and implementation_name != "pypy" and python_version >= "3.7" and python_full_version >= "3.4.0"
sniffio==1.2.0; python_full_version >= "3.6.2" and python_version >= "3.7"
sortedcontainers==2.4.0; python_version >= "3.7"
trio==0.21.0; python_version >= "3.7"
